:root {
    --cursor-enabled: crosshair;
    --size-outline: 2px;

    --colour-selection-inner: rgb(40, 28, 80, 0.9);
    --colour-selection-outer: rgba(255, 255, 0, 1);
}
* { 
    cursor: var(--cursor-enabled);
}
*:hover {
    cursor: var(--cursor-enabled) !important;
}
.divour-hover-element {
    transition: background-color 0.2s cubic-bezier(.07,.95,0,1);
    background-color: var(--colour-selection-inner) !important;
    
    outline: var(--size-outline) solid var(--colour-selection-outer);
    outline-offset: calc(var(--size-outline) * -1);
}
.disable-point-events {
    pointer-events: none;
}