:root {
    --color-primary: green;
    --font-primary: 'Fira Sans';
    --width-popup: 20em;
    --size-icon: 40px;
}
#popup-content {
    width: var(--width-popup)
}
html, body {
    padding: 0;
    margin: 0;
    background-color: var(--color-primary)
}

/*Typography*/
h1 {
    font-family: var(--font-primary);
    font-size: 28px;
    font-weight: 300;
}
h2 {
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 300;
}
p {
    font-family: var(--font-primary);
    font-size: 17px;
    font-weight: 400;
}
/*Layout*/
header {
    background-color: var(--color-primary);
    height: var(--size-icon);
}
header * {
    float: left;
    height: var(--size-icon);
}
header h1 {
    margin: 0 0 0 0.25em;
    text-align: center;
}
main, header {
    padding: 1em;
}
main {
    background-color: white;
}
ul li {
    margin-top: 0.5em;
}
/*Layout Utils*/
.no-style {
    text-decoration: none;
    list-style: none;
    font-style: normal;
    border-style: none;
}
img.icon {
    width: auto;
    height: var(--size-icon);
    border-radius: 2px;
}
/*Interactives*/
/*Buttons*/
button {
    background-color: var(--grey-90-a10);
    color: var(--grey-90);

    border: none;
    border-radius: 2px;
    
    height: 32px;
    width: auto;
    min-width: 132px;

    padding-left: 8px;
    padding-right: 8px;

    font-family: var(--font-primary);
    font-size: 13px;
    font-weight: 400;
}
button:hover {
    background-color: var(--grey-90-a20);
}
button:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
button:active {
    background-color: var(--grey-90-a30);
}
button:disabled {
    opacity: 0.4;
}
button:disabled:hover, button:disabled:active {
    background-color: var(--grey-90-a10);
}
/*Button Size MICRO*/
button.micro {
    font-size: 11px;
    min-width: unset;
    height: 24px;
}
/*Button Color PRIMARY*/
button.primary {
    background-color: var(--blue-60);
    color: #ffffff;
}
button:hover.primary {
    background-color: var(--blue-70);
}
button:focus.primary {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}
button:active.primary {
    background-color: var(--blue-80);
}
button:disabled.primary {
    opacity: 0.4;
}
button:disabled:hover.primary, button:disabled:active.primary {
    background-color: var(--blue-60)
}


