:root {
    --color-primary: #281c50;
    --color-title: var(--white-100);
    --font-primary: 'Fira Sans';
    --width-popup: 20em;
    --size-icon: 50px;

    --margin-vertical-counter: 0.75em;
    --height-counter: 30px;
}
#popup-content {
    min-width: var(--width-popup);
    width: 100%;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: var(--color-primary)
}

/*Typography*/
h1 {
    font-family: var(--font-primary);
    font-size: 28px;
    font-weight: 300;
    color: var(--color-title)
}
header, h1 {
    font-family: var(--font-primary);
    font-weight: 400;
}
h2 {
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 300;
}
p {
    font-family: var(--font-primary);
    font-size: 17px;
    font-weight: 400;
}
a {
    font: 400 15px/1.5 "Fira Sans"
}
a {
    color: #0a84ff;
    text-decoration: none;
    cursor: pointer; 
}
a:visited {
    color: #0060df; 
}
a:hover {
    color: #0c0c0d;
    text-decoration: underline; 
}
a:not([class])[href*="//"]::after {
    background-image: url(../icon/open-in-new-16.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    content: "";
    display: inline-block;
    height: 16px;
    margin: -.3rem .15rem 0 .25rem;
    vertical-align: middle;
    width: 16px; 
}
/*Layout*/
header {
    background-color: var(--color-primary);
    height: var(--size-icon);
}
header * {
    float: left;
    height: var(--size-icon);
}
header h1 {
    margin: 0.25em 0 0 0.35em;
    text-align: center;
}
main, header, footer {
    padding: 0.75em;
}
main {
    background-color: white;
}
main p {
    margin: 0;
}
main ul {
    padding: 0;
    margin: 0;
}
main ul li {
    margin-top: 0.5em;
}
footer {
    border-top: var(--grey-30) 1px solid;
    background-color: var(--grey-10);
}
footer p {
    display: block;
}
footer p, footer a {
    margin: 0;
    padding: 0;
}
/*Layout Utils*/
.no-style {
    text-decoration: none;
    list-style: none;
    font-style: normal;
    border-style: none;
}
img.icon {
    width: auto;
    height: var(--size-icon);
    border-radius: 2px;
}
/*Shadows*/
.shadow-10 {
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1);
}
.shadow-20 {
    box-shadow: 0px 2px 8px rgba(12, 12, 13, 0.1);
}
.shadow-30 {
    box-shadow: 0px 4px 16px rgba(12, 12, 13, 0.1);
}
/*Interactives*/
/*Buttons*/
button {
    background-color: var(--grey-90-a10);
    color: var(--grey-90);

    border: none;
    border-radius: 2px;
    
    height: 32px;
    width: auto;
    min-width: 132px;

    padding-left: 8px;
    padding-right: 8px;

    font-family: var(--font-primary);
    font-size: 13px;
    font-weight: 400;
}
button:hover {
    background-color: var(--grey-90-a20);
}
button:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
button:active {
    background-color: var(--grey-90-a30);
}
button:disabled {
    opacity: 0.4;
}
button:disabled:hover, button:disabled:active {
    background-color: var(--grey-90-a10);
}
/*Button Size MICRO*/
button.micro {
    font-size: 11px;
    min-width: unset;
    height: 24px;
}
/*Button Color PRIMARY*/
button.primary {
    background-color: var(--blue-60);
    color: #ffffff;
}
button:hover.primary {
    background-color: var(--blue-70);
}
button:focus.primary {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}
button:active.primary {
    background-color: var(--blue-80);
}
button:disabled.primary {
    opacity: 0.4;
}
button:disabled:hover.primary, button:disabled:active.primary {
    background-color: var(--blue-60)
}
/*Utilities*/
.no-bg {
    background-color: none;   
}
.no-bg:hover {
    background-color: none;
}
.big-paragraph {
    font-size: 25px;
}
.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}
.pos-rel {
    position: relative;
}
.hidden {
    display: none;
}
.margin-left {
    padding-left: 1.5em;
}
/*Special cases*/
div.round-panel {
    border: 1px var(--grey-20) solid;
    border-left: none;
    border-right: none;
    background-color: white;
    padding: 0 var(--margin-vertical-counter) 0 var(--margin-vertical-counter);
    min-height: var(--height-counter);
}
.counter-circle-bg span {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
}